.contact-main-container {
  background-color: $dark-blue;
  height: auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.contact-page-topic-container {
  margin-bottom: 150px;
}
.form-n-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-details-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-detail-container {
  min-width: calc(100% / 3);
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &:hover {
    .contact-detail-icon-container {
      background-color: $dark-blue-low;
    }
    .contact-detail-icon {
      color: $primary-color;
    }
  }
}
.contact-detail-icon-container {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all ease-in-out 300ms;
}
.contact-detail-icon {
  font-size: 28px;
  color: white;
  transition: all ease-in-out 300ms;
}
.contact-detail-method-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-detail-method {
  font-family: $poppins;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}
.contact-detail-text-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-detail-text {
  font-family: $poppins;
  font-size: 16px;
  font-weight: 400;
  color: $dark-white;
  margin: 0;
}
.contact-form-container {
  width: 100%;
  height: auto;
}
.contact-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
.input-common {
  border-radius: 5px;
  font-family: $poppins;
  font-size: 16px;
  padding-left: 10px;
  color: white;
  font-weight: 400;
  &:focus {
    outline: 0.5px solid $primary-color-low;
  }
}
.customer-name {
  border: none;
  background-color: $dark-blue-high;
  width: 48%;
  height: 45px;
  margin-bottom: 20px;
}
.customer-email {
  border: none;
  background-color: $dark-blue-high;
  width: 48%;
  height: 45px;
  margin-bottom: 20px;
}
.customer-msg {
  border: none;
  background-color: $dark-blue-high;
  width: 100%;
  height: 250px;
}
.form-submit-btn {
  background-color: $primary-color;
  color: $dark-blue;
  border: 2px solid $primary-color;
  margin-top: 70px;
  margin-left: calc(100% - 220px);
  &:hover {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }
}
@media (max-width: 990px) {
  .contact-page-topic-container {
    margin-bottom: 70px;
  }
  .contact-details-container {
    width: max-content;
    flex-direction: column;
    justify-content: center;
  }
  .contact-detail-container {
    width: 100%;
    min-height: 160px;
    margin: 10px 0;
  }
  .contact-form {
    flex-direction: column;
  }
  .customer-name {
    width: 100%;
  }
  .customer-email {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .contact-main-container {
    padding: 18vw 0;
  }
  .contact-sub-container {
    padding-top: 5vw;
  }
  .contact-page-topic-container {
    margin-bottom: 20vw;
  }
  .contact-detail-container {
    min-height: 40vw;
    margin: 2vw 0;
  }
  .contact-detail-icon-container {
    width: 13vw;
    margin-bottom: 5vw;
  }
  .contact-detail-icon {
    font-size: 7vw;
  }
  .contact-detail-method {
    font-size: 4.3vw;
  }
  .contact-detail-text {
    font-size: 4vw;
  }
  .input-common {
    font-size: 4vw;
    padding-left: 2vw;
  }
  .customer-name {
    height: 12vw;
    margin-bottom: 5vw;
  }
  .customer-email {
    height: 12vw;
    margin-bottom: 5vw;
  }
  .customer-msg {
    height: 65vw;
  }
  .form-submit-btn {
    margin-top: 16vw;
    margin-left: calc(100% - 55vw);
  }
}
