.main-container {
  width: 100%;
  position: relative;
}
.sub-container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.page-topic-container {
  width: 100%;
  height: auto;
}
.page-topic {
  margin: 0;
  padding: 0;
  font-family: $poppins;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: $primary-color;
  text-decoration-thickness: 2px;
  text-align: center;
  text-transform: capitalize;
}
.default-btn {
  width: 220px;
  height: 40px;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.uppercase {
  text-transform: uppercase !important;
}
@media (min-width: 990px) and (max-width: 1200px) {
  .sub-container {
    width: 960px;
  }
}
@media (min-width: 770px) and (max-width: 990px) {
  .sub-container {
    width: 720px;
  }
}
@media (min-width: 575px) and (max-width: 770px) {
  .sub-container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .sub-container {
    width: 90%;
  }
}
@media (min-width: 375px) and (max-width: 575px) {
  .page-topic {
    font-size: 23px;
  }
}
@media (max-width: 375px) {
  .page-topic {
    font-size: 6vw;
  }
  .default-btn {
    width: 55vw;
    height: 10vw;
    font-size: 4.3vw;
  }
}
