$poppins: "Poppins", sans-serif;
$dark-blue: #13141a;
$dark-blue-low: #2b2e3b;
$dark-blue-high: #101115;
$dark-white: hsla(0, 0%, 100%, 0.72);
$grayish-blue: #1b1c23;
/* -------------------------------------------------------------------------- */
/*                               color palatte 1                              */
/* -------------------------------------------------------------------------- */
$primary-color: hsl(68, 100%, 55%);
$primary-color-low: hsl(68, 100%, 70%);
/* -------------------------------------------------------------------------- */
/*                               color palatte 2                              */
/* -------------------------------------------------------------------------- */
// $primary-color: hsl(155, 100%, 55%);
// $primary-color-low: hsl(155, 100%, 70%);
