$poppins: "Poppins", sans-serif;
$primary-color: hsl(68, 100%, 55%);
$primary-color-low: hsl(68, 100%, 70%);
$dark-blue: #13141a;
$dark-blue-low: #2b2e3b;
$dark-white: hsla(0, 0%, 100%, 0.72);
$grayish-blue: #1b1c23;
// $max-content: max-content !global;
