/* -------------------------------------------------------------------------- */
/*                               color palatte 1                              */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                               color palatte 2                              */
/* -------------------------------------------------------------------------- */
html {
  scroll-behavior: smooth;
}

#body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #13141a;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(68, 100%, 70%);
  border-radius: 10px;
}

@supports (scrollbar-color: hsl(68, 100%, 55%) #13141a) {
  * {
    scrollbar-color: hsl(68, 100%, 55%) #13141a;
    scrollbar-width: auto;
  }
}
#preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #13141a;
  background-image: url("../images/91.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 3%;
}

.header {
  height: 100vh;
  min-height: 600px;
}

.hero-img {
  width: 100%;
  height: 100%;
  min-height: 600px;
  z-index: -3;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-image: url("../images/backgrounds/bg-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0;
}

.dark-effect {
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: rgba(1, 17, 1, 0.62);
}

.bg-img-guard {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
}

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
.navbar {
  height: 70px;
  position: fixed !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 50;
  transition: all ease-in-out 200ms;
}

.navbar-sub-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-transform: lowercase;
  padding: 0 3px;
  margin: 0;
  text-decoration: none;
  border: 2px solid hsla(0, 0%, 100%, 0.72);
  border-radius: 5px;
}

.nav-links-container {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
}

.nav-links-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 0;
  margin: 0;
}

.nav-link-list {
  padding: 0;
  margin: 0 0 0 50px;
  height: -moz-max-content;
  height: max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav-link {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  transition: all ease-in-out 200ms;
}
.nav-link:hover {
  color: hsl(68, 100%, 55%);
}

.active {
  color: hsl(68, 100%, 55%);
}

.hamburger-btn-container {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
}

#hamburger-btn {
  font-size: 25px;
  color: white;
}

@media (max-width: 990px) {
  .nav-links-container {
    width: 80%;
  }
  .nav-links-list {
    width: 100%;
    justify-content: space-between;
  }
  .nav-link-list {
    margin: 0;
  }
}
@media (max-width: 770px) {
  .nav-links-container {
    display: none;
    width: 100%;
    margin: 0;
    position: absolute;
    height: auto;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #13141a;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.42);
  }
  .nav-links-list {
    margin: auto;
    flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-link-list {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .hamburger-btn-container {
    display: block;
  }
  .nav-link {
    font-size: 16px;
    padding: 10px 0;
  }
}
@media (max-width: 375px) {
  .navbar {
    height: 18vw;
  }
  .logo {
    font-size: 8vw;
    padding: 0 0.5vw;
  }
  #hamburger-btn {
    font-size: 7vw;
  }
  .nav-links-list {
    padding: 5vw 0;
  }
  .nav-link {
    font-size: 4.3vw;
    padding: 2vw 0;
  }
}
/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
}

.welcome-text {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.name-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
}

.name-text {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.name {
  color: hsl(68, 100%, 55%) !important;
}

.profession-container {
  width: -moz-max-content;
  width: max-content;
  height: 45px;
  overflow: hidden;
}

.profession-text {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all ease-in-out 300ms;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.profession-1 {
  margin-top: 0px;
}

.social-icons-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.social-icon-btn {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.253);
  margin: 0 10px 0 10px;
  transition: all ease-in-out 200ms;
}
.social-icon-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.social-icon-btn:hover .social-icon {
  color: white;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-icon {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.72);
  padding: 0;
  margin: 0;
}

@media (min-width: 575px) and (max-width: 990px) {
  .welcome-text {
    font-size: 23px;
  }
  .name-text {
    font-size: 58px;
  }
  .profession-text {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  .welcome-text {
    font-size: 18px;
  }
  .name-text {
    font-size: 40px;
  }
  .profession-text {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .welcome-text {
    font-size: 4.5vw;
  }
  .name-text {
    font-size: 10vw;
  }
  .profession-text {
    font-size: 5vw;
  }
  .social-icons-container {
    width: 80%;
    max-width: 250px;
    justify-content: space-around;
    margin-top: 6vw;
  }
  .social-icon-btn {
    width: 10vw;
    margin: 0;
  }
  .social-icon {
    font-size: 4.5vw;
    color: hsla(0, 0%, 100%, 0.72);
  }
}
.main-container {
  width: 100%;
  position: relative;
}

.sub-container {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.page-topic-container {
  width: 100%;
  height: auto;
}

.page-topic {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: hsl(68, 100%, 55%);
  text-decoration-thickness: 2px;
  text-align: center;
  text-transform: capitalize;
}

.default-btn {
  width: 220px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.uppercase {
  text-transform: uppercase !important;
}

@media (min-width: 990px) and (max-width: 1200px) {
  .sub-container {
    width: 960px;
  }
}
@media (min-width: 770px) and (max-width: 990px) {
  .sub-container {
    width: 720px;
  }
}
@media (min-width: 575px) and (max-width: 770px) {
  .sub-container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .sub-container {
    width: 90%;
  }
}
@media (min-width: 375px) and (max-width: 575px) {
  .page-topic {
    font-size: 23px;
  }
}
@media (max-width: 375px) {
  .page-topic {
    font-size: 6vw;
  }
  .default-btn {
    width: 55vw;
    height: 10vw;
    font-size: 4.3vw;
  }
}
.about-us-container {
  min-height: 400px;
  padding: 70px 0;
  background-color: #13141a;
}

.about-us-sub {
  min-height: -moz-max-content;
  min-height: max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-us-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us-page-topic-container {
  padding-bottom: 40px;
}

.about-us-image-container {
  width: 420px;
  aspect-ratio: 14/15;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-image {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-text-based-container {
  width: calc(100% - 450px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us-para-container {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}

.about-us-para {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.72);
  text-align: left;
  padding: 0;
  margin: 0;
}

.about-us-skills-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}

.about-us-skills-topic-container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 20px;
}

.about-us-skills-topic {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: left;
  padding: 0;
  margin: 0;
}

.about-us-skills-list-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-skill-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-us-skill-checkmark-container {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #1b1c23;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-skill-checkmark {
  font-size: 20px;
  color: hsl(68, 100%, 55%);
}

.about-us-skill-name-container {
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding-left: 10px;
}

.about-us-skill-name {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  color: white;
  padding: 0;
  margin: 0;
}

.about-us-btns-container {
  width: 100%;
  max-width: 460px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-us-btn-resume-download {
  background-color: hsl(68, 100%, 55%);
  color: #13141a;
  border: 2px solid hsl(68, 100%, 55%);
}
.about-us-btn-resume-download:hover {
  background-color: transparent;
  border: 2px solid hsl(68, 100%, 55%);
  color: hsl(68, 100%, 55%);
}

.about-us-btn-contact-us {
  border: 2px solid hsl(68, 100%, 55%);
  color: hsl(68, 100%, 55%);
  background-color: transparent;
}
.about-us-btn-contact-us:hover {
  background-color: hsl(68, 100%, 55%);
  color: #13141a;
}

@media (max-width: 990px) {
  .about-us-details-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-us-image-container {
    width: 100%;
    margin: 0 0 50px 0;
  }
  .about-us-text-based-container {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .about-us-btns-container {
    flex-direction: column;
    max-width: none;
    align-items: flex-start;
  }
  .about-us-btn-contact-us {
    margin-top: 20px;
  }
  .about-us-skill-container {
    margin: 5px 0;
  }
}
@media (max-width: 375px) {
  .about-us-container {
    padding: 18vw 0;
  }
  .about-us-sub {
    padding: 7vw 0;
  }
  .about-us-page-topic-container {
    padding-bottom: 10vw;
  }
  .about-us-image-container {
    margin: 0 0 15vw 0;
  }
  .about-us-para-container {
    margin-bottom: 7vw;
  }
  .about-us-para {
    font-size: 4.3vw;
    text-decoration: none;
  }
  .about-us-skill-checkmark-container {
    width: 8vw;
  }
  .about-us-skills-container {
    margin-bottom: 10vw;
  }
  .about-us-skills-topic-container {
    margin-bottom: 5vw;
  }
  .about-us-skills-topic {
    font-size: 4.5vw;
  }
  .about-us-skill-container {
    margin: 1vw 0;
  }
  .about-us-skill-checkmark {
    font-size: 5vw;
  }
  .about-us-skill-name {
    font-size: 4.3vw;
  }
  .about-us-btn-contact-us {
    margin-top: 5vw;
  }
}
.services-main-container {
  height: auto;
  background-color: #13141a;
  padding: 70px 0;
}

.services-sub-container {
  height: auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.services-page-topic {
  margin-bottom: 40px;
}

.service-container {
  width: calc(33.3333333333% - 20px);
  min-height: 250px;
  height: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.13);
  border-right: 1px solid rgba(255, 255, 255, 0.13);
  background-color: #13141a;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: alias;
  transition: all ease-in-out 300ms;
}
.service-container:hover {
  border-left: 1px solid hsl(68, 100%, 70%);
  border-right: 1px solid hsl(68, 100%, 70%);
}

.service-icon-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 40px 0;
}

.service-icon {
  font-size: 40px;
  color: hsl(68, 100%, 55%);
}

.service-name-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.service-name {
  font-family: "Poppins", sans-serif;
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.service-description-container {
  width: 80%;
  height: auto;
}

.service-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: hsla(0, 0%, 100%, 0.72);
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.seo {
  text-transform: uppercase !important;
}

@media (max-width: 990px) {
  .service-container {
    width: calc(50% - 20px);
  }
}
@media (max-width: 770px) {
  .service-container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .services-main-container {
    padding: 18vw 0;
  }
  .services-sub-container {
    padding: 7vw 0;
  }
  .services-page-topic {
    margin-bottom: 10vw;
  }
  .service-container {
    min-height: 70vw;
    margin: 15vw 0;
  }
  .service-icon-container {
    margin: 5vw 0 10vw 0;
  }
  .service-icon {
    font-size: 10vw;
  }
  .service-name-container {
    margin-bottom: 7vw;
  }
  .service-name {
    font-size: 4.5vw;
  }
  .service-description {
    font-size: 4.3vw;
  }
}
.clients-main-container {
  height: auto;
  padding: 70px 0;
  background-color: transparent;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.clients-main-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/clients-bg.png");
  background-size: cover;
  background-position-y: 0;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.clients-main-container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.clients-sub-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.clients-scroller-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clients-people-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.client-container {
  min-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all ease-in-out 300ms;
}

.client-pic-container {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.client-pic {
  height: 100%;
  width: auto;
}

.client-review-container {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.client-review {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.72);
  text-align: center;
  padding: 0;
  margin: 0;
}

.client-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.client-name-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 5px 0;
}

.client-name {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.95);
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  margin: 0;
}

.client-review-source-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  padding: 5px 0;
}

.client-review-source {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.72);
  text-transform: capitalize;
  text-align: center;
  padding: 0;
  margin: 0;
}

.client-selectors-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.client-selector {
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.client-selector-bg {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
}

.active-client {
  background-color: hsl(68, 100%, 55%);
}

@media (min-width: 375px) and (max-width: 770px) {
  .client-pic-container {
    width: 130px;
  }
  .client-review {
    font-size: 16px;
  }
  .client-name {
    font-size: 16px;
  }
  .client-review-source {
    font-size: 15px;
  }
  .client-pic-container {
    margin: 45px 0;
  }
}
@media (max-width: 375px) {
  .clients-main-container {
    padding: 18vw 0;
  }
  .clients-sub-container {
    padding-top: 5vw;
  }
  .client-pic-container {
    width: 35vw;
  }
  .client-review {
    font-size: 4.3vw;
  }
  .client-name {
    font-size: 4.3vw;
  }
  .client-review-source {
    font-size: 4vw;
  }
  .client-pic-container {
    margin: 15vw 0;
  }
  .client-review-container {
    margin: 5vw 0;
  }
  .client-details-container {
    margin: 5vw 0;
  }
  .client-name-container {
    padding: 1vw 0;
  }
  .client-review-source-container {
    padding: 1vw 0;
  }
  .client-selectors-container {
    margin: 5vw 0;
  }
  .client-selectors-container {
    margin: 5vw 0;
  }
  .client-selector {
    width: 6vw;
  }
  .client-selector-bg {
    width: 50%;
  }
}
.portfolio-main-container {
  height: auto;
  background-color: #13141a;
  padding: 70px 0;
}

.portfolio-sub-container {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.portfolio-content-container {
  width: 100%;
  height: auto;
}

.portfolio-filter-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.portfolio-filter-btn {
  border: 2px solid white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 20px;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.portfolio-filter-btn:hover {
  border: 2px solid hsl(68, 100%, 55%);
  background-color: hsl(68, 100%, 55%);
  color: #13141a;
}

.active-portfolio {
  border: 2px solid hsl(68, 100%, 55%);
  background-color: hsl(68, 100%, 55%);
  color: #13141a;
}

.portfolio-bucket {
  width: 100%;
  height: auto;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.porfolio-bucket-pic-container {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  aspect-ratio: 1/1;
}
.porfolio-bucket-pic-container:hover .portfolio-bucket-details-container {
  opacity: 1;
}
.porfolio-bucket-pic-container:hover .portfolio-bucket-topic-container {
  margin-top: 0;
}
.porfolio-bucket-pic-container:hover .portfolio-bucket-icons-container {
  margin-bottom: 0;
}

.portfolio-bucket-pic {
  width: 100%;
  height: auto;
}

.portfolio-bucket-details-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all ease-in-out 300ms;
}

.portfolio-bucket-details {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: alias;
}

.portfolio-bucket-topic-container {
  width: 100%;
  height: auto;
  margin-top: -30px;
  transition: all ease-in-out 300ms;
}

.portfolio-bucket-topic {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  color: white;
}

.portfolio-bucket-icons-container {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -30px;
  transition: all ease-in-out 300ms;
}

.portfolio-bucket-icon {
  font-size: 25px;
  color: hsla(0, 0%, 100%, 0.72);
  cursor: pointer;
  transition: all ease-in-out 300ms;
}
.portfolio-bucket-icon:hover {
  color: white;
}

/* -------------------------------------------------------------------------- */
/*                            portfolio fullscreen                            */
/* -------------------------------------------------------------------------- */
.portfolio-bucket-pic-fullscreen-main-container {
  width: 100%;
  height: 100vh;
  min-height: -moz-max-content;
  min-height: max-content;
  position: fixed;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.portfolio-bucket-pic-fullscreen-main-details-container {
  flex: 1;
  min-height: -moz-max-content;
  min-height: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio-bucket-pic-fullscreen-sub-details-container {
  height: 90%;
  min-height: auto;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.portfolio-bucket-pic-fullscreen-arrow-container {
  height: 90%;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.portfolio-bucket-pic-fullscreen-arrow-container:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.portfolio-bucket-pic-fullscreen-arrow-container:hover .portfolio-bucket-pic-fullscreen-arrow {
  color: white;
}

.portfolio-bucket-pic-fullscreen-arrow {
  color: hsla(0, 0%, 100%, 0.72);
  font-size: 50px;
  transition: all ease-in-out 200ms;
}

.portfolio-bucket-pic-fullscreen-close-btn-container {
  height: 5%;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}
.portfolio-bucket-pic-fullscreen-close-btn-container:hover .portfolio-bucket-pic-fullscreen-close-btn {
  background-color: rgba(255, 255, 255, 0.03);
}
.portfolio-bucket-pic-fullscreen-close-btn-container:hover .portfolio-bucket-pic-fullscreen-close-btn {
  color: white;
}

.portfolio-bucket-pic-fullscreen-close-btn {
  font-size: 40px;
  color: hsla(0, 0%, 100%, 0.72);
  padding: 0 10px;
  transition: all ease-in-out 200ms;
}

.portfolio-bucket-pic-fullscreen-img-n-count-container {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.portfolio-bucket-pic-fullscreen-count-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-bucket-pic-fullscreen-count {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 10px 0;
  margin: 0;
  font-weight: 500;
}

.portfolio-bucket-pic-fullscreen-img {
  width: 100%;
  aspect-ratio: 1/1;
}

.portfolio-bucket-pic-fullscreen-topic-n-links-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.portfolio-bucket-pic-fullscreen-topic-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  margin-bottom: 15px;
}

.portfolio-bucket-pic-fullscreen-topic {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: white;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 0;
}

.portfolio-bucket-pic-fullscreen-links-container {
  width: -moz-max-content;
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.portfolio-bucket-pic-fullscreen-link {
  color: hsla(0, 0%, 100%, 0.72);
  text-decoration: none;
  font-size: 25px;
  margin: 0 10px;
}
.portfolio-bucket-pic-fullscreen-link:hover {
  color: white;
}

.portfolio-bucket-pic-fullscreen-para-container {
  width: 100%;
  height: auto;
}

.portfolio-bucket-pic-fullscreen-para {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

@media (min-width: 770px) and (max-width: 990px) {
  .portfolio-bucket {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 375px) and (max-width: 770px) {
  .portfolio-bucket {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 375px) and (max-width: 575px) {
  .portfolio-bucket-topic-container {
    margin-top: -25px;
  }
  .portfolio-bucket-topic {
    font-size: 16px;
  }
  .portfolio-bucket-icons-container {
    margin-bottom: -25px;
  }
  .portfolio-bucket-icon {
    font-size: 20px;
  }
}
@media (max-width: 375px) {
  .portfolio-main-container {
    padding: 18vw 0;
  }
  .portfolio-sub-container {
    padding-top: 5vw;
  }
  .portfolio-bucket {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio-filter-btn {
    font-size: 4.3vw;
    margin: 1vw 5vw;
  }
  .portfolio-bucket-topic-container {
    margin-top: -5.5vw;
  }
  .portfolio-bucket-topic {
    font-size: 5vw;
  }
  .portfolio-bucket-icons-container {
    margin-bottom: -5.5vw;
  }
  .portfolio-bucket-icon {
    font-size: 7vw;
  }
}
.blog-main-container {
  background-color: #13141a;
  padding: 70px 0;
}

.blog-sub-container {
  padding-top: 20px;
}

.blog-page-topic-container {
  margin-bottom: 50px;
}

.blogs-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-container {
  display: flex;
  flex-direction: column;
  width: calc(33.3333333333% - 20px);
  height: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blog-img-container {
  width: 100%;
  aspect-ratio: 200/111;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
}
.blog-img-container:hover .blog-img {
  width: 120%;
}

.blog-img {
  width: 100%;
  transition: all ease-in-out 300ms;
}

.blog-title-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.blog-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-transform: capitalize;
  margin: 0;
  text-decoration: none;
}

.blog-details-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 300;
  cursor: alias;
  margin-bottom: 10px;
}

.blog-date-container {
  width: auto;
  height: auto;
  margin-right: 15px;
}

.blog-date {
  color: hsla(0, 0%, 100%, 0.72);
  margin: 0;
}

.blog-author-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-author {
  color: hsla(0, 0%, 100%, 0.72);
  margin: 0;
}

.blog-author-name {
  color: hsl(68, 100%, 55%);
  text-decoration: none;
}

.blog-para-container {
  width: 90%;
  height: auto;
  cursor: alias;
  margin-bottom: 10px;
}

.blog-para {
  font-family: "Poppins", sans-serif;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.72);
  text-align: left;
  margin: 0;
}

.read-more-link-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read-more-link {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.72);
  text-decoration: none;
  text-transform: capitalize;
  transition: all ease-in-out 300ms;
}
.read-more-link:hover {
  color: white;
}

@media (max-width: 990px) {
  .blog-container {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .blog-main-container {
    padding: 18vw 0;
  }
  .blog-sub-container {
    padding-top: 5vw;
  }
  .blog-title-container {
    margin-bottom: 4.3vw;
  }
  .blog-title {
    font-size: 4.3vw;
  }
  .blog-details-container {
    font-size: 4vw;
    margin-bottom: 2vw;
  }
  .blog-date-container {
    margin-right: 3vw;
  }
  .blog-para-container {
    margin-bottom: 2vw;
  }
  .blog-para {
    font-size: 4vw;
  }
  .read-more-link {
    font-size: 4vw;
  }
}
.contact-main-container {
  background-color: #13141a;
  height: auto;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contact-page-topic-container {
  margin-bottom: 150px;
}

.form-n-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-details-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-detail-container {
  min-width: 33.3333333333%;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-detail-container:hover .contact-detail-icon-container {
  background-color: #2b2e3b;
}
.contact-detail-container:hover .contact-detail-icon {
  color: hsl(68, 100%, 55%);
}

.contact-detail-icon-container {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: all ease-in-out 300ms;
}

.contact-detail-icon {
  font-size: 28px;
  color: white;
  transition: all ease-in-out 300ms;
}

.contact-detail-method-container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-detail-method {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  text-transform: capitalize;
}

.contact-detail-text-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-detail-text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.72);
  margin: 0;
}

.contact-form-container {
  width: 100%;
  height: auto;
}

.contact-form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.input-common {
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-left: 10px;
  color: white;
  font-weight: 400;
}
.input-common:focus {
  outline: 0.5px solid hsl(68, 100%, 70%);
}

.customer-name {
  border: none;
  background-color: #101115;
  width: 48%;
  height: 45px;
  margin-bottom: 20px;
}

.customer-email {
  border: none;
  background-color: #101115;
  width: 48%;
  height: 45px;
  margin-bottom: 20px;
}

.customer-msg {
  border: none;
  background-color: #101115;
  width: 100%;
  height: 250px;
}

.form-submit-btn {
  background-color: hsl(68, 100%, 55%);
  color: #13141a;
  border: 2px solid hsl(68, 100%, 55%);
  margin-top: 70px;
  margin-left: calc(100% - 220px);
}
.form-submit-btn:hover {
  background-color: transparent;
  border: 2px solid hsl(68, 100%, 55%);
  color: hsl(68, 100%, 55%);
}

@media (max-width: 990px) {
  .contact-page-topic-container {
    margin-bottom: 70px;
  }
  .contact-details-container {
    width: -moz-max-content;
    width: max-content;
    flex-direction: column;
    justify-content: center;
  }
  .contact-detail-container {
    width: 100%;
    min-height: 160px;
    margin: 10px 0;
  }
  .contact-form {
    flex-direction: column;
  }
  .customer-name {
    width: 100%;
  }
  .customer-email {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .contact-main-container {
    padding: 18vw 0;
  }
  .contact-sub-container {
    padding-top: 5vw;
  }
  .contact-page-topic-container {
    margin-bottom: 20vw;
  }
  .contact-detail-container {
    min-height: 40vw;
    margin: 2vw 0;
  }
  .contact-detail-icon-container {
    width: 13vw;
    margin-bottom: 5vw;
  }
  .contact-detail-icon {
    font-size: 7vw;
  }
  .contact-detail-method {
    font-size: 4.3vw;
  }
  .contact-detail-text {
    font-size: 4vw;
  }
  .input-common {
    font-size: 4vw;
    padding-left: 2vw;
  }
  .customer-name {
    height: 12vw;
    margin-bottom: 5vw;
  }
  .customer-email {
    height: 12vw;
    margin-bottom: 5vw;
  }
  .customer-msg {
    height: 65vw;
  }
  .form-submit-btn {
    margin-top: 16vw;
    margin-left: calc(100% - 55vw);
  }
}
.suc-body {
  width: 100vw;
  height: 100vh;
  background-color: #13141a;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-main-container {
  width: 600px;
  height: 500px;
  background-color: #101115;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 20px 20px 60px #0e0e13, -20px -20px 60px #181a21;
}
.success-main-container:hover .success-icon {
  color: hsl(68, 100%, 55%);
}

.success-icon-container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.success-icon {
  font-size: 70px;
  color: hsl(68, 100%, 70%);
  transition: all ease-in-out 300ms;
}

.success-msg {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: white;
  font-weight: 600;
  margin: 0 0 15px 0;
  text-transform: capitalize;
}

.success-para {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.72);
  margin: 0 0 50px 0;
  text-transform: capitalize;
}

.return-link {
  text-decoration: none;
}

.return-btn {
  width: 250px;
  height: 40px;
  background-color: #2b2e3b;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: hsla(0, 0%, 100%, 0.72);
  text-transform: capitalize;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}
.return-btn:hover {
  color: #13141a;
  background-color: hsl(68, 100%, 55%);
}/*# sourceMappingURL=style.css.map */